  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
  </style>
  </head>
  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1>MusicBuddy</h1>
        <p>Barz 4 Dayzz</p>
      </div>
    </div>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">bout it bout it</h2>
      <p class="w3-opacity"><i>We love music</i></p>
      <p class="w3-justify">Music is awesome. So awesome that I have decided to bring together all of the nice details that a music fan would nerd out about.
        Simply look up a song and you will be taken to the lyrics page, but on that lyrics page will also be some information about samples that song has used
        and what other songs have sampled it. What more could you want.</p>
      </div>
    </body>
    </html>
