body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* The image used */
  background-image: image-url("mark-solarski-183866-unsplash.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4B4C4F;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.card-block {
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
}

.results {
  background-image: image-url("umberto-cofini-39471-unsplash.jpg");
  background-size: cover;
}

.result {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


.btn:hover {
  background: #eee;
}

.song {
  background-image: image-url("dayne-topkin-60559-unsplash.jpg");
  background-size: cover;
}

.favorites {
  background-image: image-url("travis-yewell-273488-unsplash.jpg");
  background-size: cover;
  padding: 50px;
}

#band {
  background-color: white;
}
